<section class="index-page">
  <img src={{avatar}} class='avatar' />
  <p class="success">
    Hello {{username}}!
  </p>
  <a  class="success" href="/user/profile">
    User Profile
  </a>
  <a  class="error" href="/auth/logout">
    LOGOUT
  </a>
</section>